@import "tailwindcss";
@import "../styles/_variables.scss";
@import "../styles/_keyframe-animations.scss";
@import "../app/[locale]/studio/styles.scss";

:root {
  --foreground-rgb: 0, 0, 0;
  /* --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    /* --background-start-rgb: 100, 100, 100;
    --background-end-rgb: 100, 100, 100; */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}


* {
  scrollbar-width: thin;
  scrollbar-color: rgba(100, 100, 100, 0.5) rgba(200, 200, 200, 0.2);
}

*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: rgba(200, 200, 200, 0.2);
  border-radius: 9999px; 
}

*::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 9999px;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.7);
}





