.tiptap-shell {
  position: sticky;
  top: 100px;
  max-width: 900px;
  min-width: 900px;
  margin: 0 auto; 
}

/* для экранов меньше 900px убираем min-width */
@media (max-width: 920px) {
  .tiptap-shell {
    min-width: auto;
    max-width: none; /* убираем ограничение */
    width: 100%; /* занимаем всю доступную ширину */
    padding: 0 1rem; /* отступы от краёв экрана */
    margin: 0; /* убираем центрирование */
  }
}

.tiptap-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.tiptap-content .tiptap.ProseMirror {
  flex: 1;
  padding: 3rem 3rem 30vh;
  width: 100%;
  outline-style: none;
  box-sizing: border-box;
  background-color: none; 
}


// .bubble-menu {
//   display: flex;
//   flex-direction: row;
//   justify-content: center;
//   align-items: center;
//   padding: 2px 10px;
//   background-color: white;
//   border: 1px solid var(--color-gray-200);
//   border-radius: 0.75rem;
//   width: auto;
//   min-width: 50px;
//   box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
// }

.bubble-menu {
  position: sticky;
  top: 0px;
  display: flex;
  z-index: 20;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  background-color: white;
  border: 1px solid var(--color-gray-100);
  border-radius: 0.5rem;
  width: auto;
  min-width: 50px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.1);
}

.button-marks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: white;
  font-size: 1rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.75rem;
  color: var(--color-gray-800);
  transition: background-color 0.5s, color 0.5s;

  &:hover {
    background-color: var(--color-gray-200);
    color: black;
  }
}

.button-marks.is-active {
  background-color: var(--color-gray-100);
  color: var(--color-blue-700);

  &:hover {
    background-color: var(--color-gray-200);
    color: black;
  }
}

.drag-handle {
  justify-content: center;
  align-items: center;
  cursor: grab;
  color: var(--color-gray-500);
  transition: color 0.3s;
  background-color: none;
  border-radius: 0.3rem;

  &:hover {
    color: var(--color-gray-800);
    background-color: var(--color-gray-100);
  }
}

.drag-icon {
  width: 1.3rem;
  height: 1.3rem;
}